
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* color 
0C6C43 green
E72D34 red */

header > img{
  width: 100%;
}

/* nav design  */

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

nav .search-container, .menu-container{
  display: none;
}

nav a{
  text-decoration: none;
  font-size: 2vw;
  color: #0C6C43;
}

nav ul{
  list-style: none;
}
@media screen and (min-width: 701px){
  
  nav > .nav-container{
    width: 80vw;
    border: 0.2vw solid #0C6C43;
  }
  
  nav ul{
    display: flex;
    justify-content: space-around;
    padding: 1.5vw;
  }
  
  
  nav a:hover{
    color: #03ff13;
  }
  
  .arrow-up {
    width: 0; 
    height: 0; 
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    
    border-bottom: 1vw solid #0C6C43;
    position: absolute;
    bottom: 0px;
  }
  
  .arrow-home1{
    left: 20vw;
  }
  
  .arrow-home2{
    left: 40vw;
  }
  
  .arrow-home3{
    left: 60vw;
  }
  
  .arrow-home4{
    left: 78vw;
  }
}

/* main design  */

main{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .description-container{
  padding-block: 20px;
  width: 80%;
  text-align: center;
}
main .description-container h1{
  font-size: 2.2rem;
}

main .description-container h6{
  font-size: 1.5rem;
  margin-top: 20px;
  font-weight: lighter;
}

main .form-container{
  margin-top: 20px;
  width: 600px;
  padding: 20px;
}

main .form-container > h1{
  color: #e72d33cb;
  margin-bottom: 10px;
}

main form{
  padding: 30px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.785), 
              -3px -3px 10px rgba(0, 0, 0, 0.156);
  border-radius: 5px;
  position: relative;
}

main form label[for=name],
main form label[for=email],
main form label[for=gender],
main form label[for=number],
main form label[for=birth-date]{
  width: 170px;
  display: inline-block;
  font-size: 1.3rem;
  padding: 5px;
  text-align: right;
  margin-right: 1%;
  margin-bottom: 15px;
  cursor: pointer;
}

main form span#checkbox{
  width: 29%;
  display: inline-block;
  padding: 5px;
  position: relative;
}

main form span input{
  position: absolute;
  top: -20px;
  right: 5px;
  z-index: 5;
}

main form label[for = check]{
  display: inline-block;
  width: 69%;
  z-index: 5;
}

main form .option-container,
main form .gender-container{
  display: inline-block;
  width: calc(100% - 180px);
}

main form .option-container select{
  width: calc((100% / 3) - 5px);
  font-size: 1.2rem;
  text-align: center;
  background-color: rgb(227, 227, 227);
  border: none;
  border-radius: 2px;
  padding: 2px;
}

main form .gender-container label{
  font-size: 1.3rem;
  margin-inline: 10px;
}

main form input[type= text],
main form input[type= email],
main form input[type= number]{
  width: calc(100% - 180px);
  font-size: 1.3rem;
  padding: 5px;
  background-color: rgb(227, 227, 227);
  border: none;
  border-radius: 2px;
  transition: 0.2s ease;
}

main form input[type= text]:hover,
main form input[type= email]:hover,
main form input[type= number]:hover{
  background-color: rgb(202, 202, 202);
}

.submit-container{
  display: flex;
  justify-content: right;
  margin-top: 20px;
}

form input[type = submit]{
  background-color: #ff2229f7;
  padding: 10px;
  width: 40%;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  color: white;
  margin-bottom: 20px;
  cursor: pointer;
}

form input[type = submit]:hover{
  background-color: #ff222991;
}
@media screen and (min-width: 701px){
  form > img{
    position: absolute;
    bottom: -130px;
    left: -90px;
    z-index: 0;
  }
}



/* footer  */

footer{
  background-color: #0C6C43;
  margin-top: 100px;
  color: white;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 20px;
  padding-inline: 10%;
  gap: 10px;
}
footer div{
  text-align: left;
}

footer div h1{
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: left;
}


